<!DOCTYPE html>
<html lang="en">

    <%-include('../includes/head')  %>
<body>
    <div class="container">
        <h1>Error 404</h1>
        <p>The page you're looking for could not be found.</p>
        <a href="javascript:history.back()">Go Back</a>
    </div>
</body>
</html>